.about {
    display: flex;
    background-color: #020b13;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    width: clamp(100px, 50%, 50%)
}
.aboutTitle {
    color: steelblue;
    padding: 8px;
    text-align: center
}
.aboutBorder {
    border: 2px solid steelblue;
    flex: 1
}
.aboutText {
    color: steelblue;
    margin: 10px
}
.aboutTextDiv {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}
.aboutComponent {
    background-color: #020b13;
    display: flex;
    justify-content: center
}
@media only screen and (max-width: 600px) {
    .about {
        display: flex;
        background-color: #041524;
        flex-direction: column;
        justify-content: center;
        padding-top: 25px;
        width: 80%;
    }
  }
