.aboutParaComponent {
    background-color: #020b13;
}
.aboutParaText {
    color: rgb(70, 130, 180);
    text-align: center;
}
.aboutParaDiv {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
    width: clamp(300px, 50%, 50%);
}
.aboutParaImg {
    height: 250px;
    justify-self: center;
    padding-right: 5px;
    width: 200px;
}
.aboutParaImgDiv {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 800px) {
    .aboutParaImg {
        display: none;
    }
  }
